*{
    margin: 0;
    padding: 0;
}

body{
    text-align: center;
    font-family: "Poppins", sans-serif;
}

.h3{
    font-weight: bold;
    font-size: large;
    margin-top: 10px;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}
.head {
    display: grid;
    grid-template-columns: 0.7fr 0.7fr 0.7fr 0.7fr 0.7fr;
    gap: 10px;
    padding: 10px 0;
    font-weight: bold;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 70%;
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.js-del-btn{
    background-color: red;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 10px;
}

.js-del-btn:hover{
    cursor: pointer;
}

.add-btn{
    background-color: green;
    color: #fff;  border: none;
    padding: 10px;
    border-radius: 10px;
}

.js-edit-btn{
    background-color: rgb(58, 57, 57);
    color: white;
    border: none;
    padding: 10px;
    border-radius: 10px;
}

.js-edit-btn:hover{
    cursor: pointer;
}

.bottom{
    width: 80%;
    text-align: end;
}